<!DOCTYPE html>
<html>
<head>
    <title>Medical Shop Gallery</title>
    <style>
        .gallery {
            display: flex;
            gap: 15px;
            justify-content: center;
            margin-top: 40px;
        }
        .gallery img {
            width: 200px;
            height: 150px;
            border-radius: 10px;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
        }
    </style>
</head>
<body>

<h1 style="text-align:center;">Our Medical Shop</h1>

<div class="gallery">
    <img src="images/shop1.jpg" alt="Medical Shop Front">
    <img src="images/shop2.jpg" alt="Inside the ">
    <img src="images/shop3.jpg" alt="Medicines Counter">
    <img src="images/shop4.jpg" alt="Staff at Work">
</div>

</body>

</html>
